body{
    margin: 0px;
}
/*          start of Navigation Styling                  */
header{
 
    top: 0 ;
    
   
}
#mainnav{
   
    display: flex;
    
    background-color: black;
    padding: 20px;
    padding-left: 30px;
    width: 100%;
    color: white;
    top: 0 ;

    

    
}


nav h3 {
    text-decoration: none;
    
    border-radius: 5px;
}

#nav{
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    padding-left: 50%;
    

    
}

nav a {
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    /* border-right: 1px solid #bbb;
    border-left: 1px solid #bbb; */
    color: white;

 

}
.active {
    border-right: 5px solid #bbb;
    border-left: 5px solid #bbb;


}
nav a:hover{
    border-top: 5px solid orange;
    border-bottom: 5px solid orange;
    color: white;
    border-radius: 10px;

}

/*          End of Navigation Styling                  */
footer{
    height: 40px;
    width: 100%;
    color: #bbb;
    text-align: center;
    background-color: black;
    padding-top: 5px;
}